PORT=5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/database
ALLOWED_ORIGINS=https://your-frontend-domain.vercel.app,https://www.yourdomain.com
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzfxI5ajmcmnrCWAsItCdVtcPT-6-uLEUdoUX8UkfMcV5VaMDhDcK2XwNsErhj2vOCLFw/exec
