PORT=5000
ALLOWED_ORIGINS=https://vanshjain.in,https://vanshjain-portfolio.vercel.app
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzfxI5ajmcmnrCWAsItCdVtcPT-6-uLEUdoUX8UkfMcV5VaMDhDcK2XwNsErhj2vOCLFw/exec
